doctype html
html(lang='en', ng-app='norris')
  head
    title= title
    base(href='/')
    link(rel='stylesheet',
        href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js')
    script(
        src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.js')
    script(src='/javascripts/application.js')
  body
    block content
