body { padding-top: 70px; }

#top-nav.navbar-default {
  background-color: #888;
  color: #ffffff;
}

#top-nav.navbar-default .navbar-brand,
#top-nav.navbar-default .navbar-brand:hover,
#top-nav.navbar-default .navbar-nav>li>a,
#top-nav.navbar-default .navbar-nav>li>a:hover {
  color: #ffffff;
}

