ul.nav.nav-stacked.norris-sidebar
  li(ui-sref-active="active")
    a(ui-sref='home') Home
  li(ui-sref-active="active")
    a(ui-sref='cats') Cats!
  li(ui-sref-active="active")
    a(ui-sref='posts') Posts
  li(ui-sref-active="active")
    a(ui-sref='guestbook') Guest Book


